<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>replit</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<script src="script.js" defer></script>
</head>

<body>
	Hello world

	<div id="container">
	</div>

	<button onclick="testaaar">teste</button>

	<h2>onclick - Carregar conteúdo</h2>
	<button onclick="carConteudo()">Carregar</button>
	<span id="conteudo"></span>

	<p>Preço:
	<p id="preco">15</p>
	</p>

	<p>
	    <p>Quantidade de livros</p>

	<br>
	<select name="Quantidade de livros">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
	</select>

</body>

</html>